@import url("@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap')");



body {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: #f2f0f0;
    margin: 0;
    padding: 0;
    background-image: url('/bathroom-locator/frontend/homepage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* This will ensure that the background image doesn't scroll with the content */

}


.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f1f8ff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333; /* Match your website's text color */
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666; /* Match your website's label color */
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

textarea {
    resize: vertical;
}

button {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 10px 20px;
    background-color: #449eff; /* Match your website's button color */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #004285; /* Darken the button color on hover */
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

button:active {
    transform: translateY(1px);
}
